.DS_Store
.idea/
.vscode/

**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/
**/pubspec.lock

app/assets/pikafish.nnue
app/packages/pikafish_engine/ios/Pikafish/src/
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/ephemeral/
app/ios/Flutter/Generated.xcconfig
app/ios/Flutter/flutter_export_environment.sh
\nweb/vendor/pikafish.js\nweb/vendor/pikafish.wasm\nweb/vendor/pikafish.data\n